body {
    font-family: Arial, sans-serif;
    background-color: #FFFD67 ;
    margin: 0;
    padding: 0px;
}
header {
    background-color: yellow;
    margin: 0;
    padding: 20px;
}
main {
    background-color: #FFFD67;
    margin: 0;
    padding: 20px;
}

h1 {
    color: red;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

#demo {
    color: red;
    font-weight: bold;
}

#intro {
    color: #0073e6;
    font-style: italic;
}

#main p {
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e3e3e3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
#tiempo {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: black;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: red;
}

form {
    margin-top: 20px;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 22px);
}

form button {
    background-color: #FF4836 ;
    margin: 10px 0;
}

form button:hover {
    background-color: #FF4836 ;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    
}
